<header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
  <div class="container position-relative">
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="navbar-brand-regular" src="img/logo/logo-white.png" alt="brand-logo">
      <img class="navbar-brand-sticky" src="img/logo/logo.png" alt="sticky brand-logo">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</header>
