<footer class="footer-area footer-fixed">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
              <img class="logo" src="img/logo/logo.png" alt="">
            </a>
            <p class="mt-2 mb-3">{{ message }}</p>
            <!-- Social Icons -->
            <div class="social-icons d-flex">
              <a *ngFor="let l of socialLinks" [ngClass]="l.class" [href]="l.url">
                <i class="fab" [ngClass]="l.icon"></i>
                <i class="fab" [ngClass]="l.icon"></i>
              </a>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Footer Title -->
            <h3 class="footer-title mb-2">Useful Links</h3>
            <ul>
              <li *ngFor="let l of usefulLinks" class="py-2">
                <a [href]="l.url">{{ l.name }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Footer Title -->
            <h3 class="footer-title mb-2">Product Help</h3>
            <ul>
              <li *ngFor="let l of productHelp" class="py-2">
                <a [href]="l.url">{{ l.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Copyright Area -->
          <div
            class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
            <!-- Copyright Left -->
            <div class="copyright-left">{{ copyrights }}</div>
            <!-- Copyright Right -->
            <div class="copyright-right">Made with <i class="fas fa-heart"></i> By <a
              [href]="'mailto:'+creator.name">{{ creator.name }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
